@model SoundRentalApp.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-info text-white">

            <h4>Category Details</h4>

        </div>

        <div class="card-body">

            <table class="table">

                <tr>
                    <th width="25%">Category Code</th>
                    <td>@Model.CategoryCode</td>
                </tr>

                <tr>
                    <th>Category Name</th>
                    <td>@Model.CategoryName</td>
                </tr>

                <tr>
                    <th>Description</th>
                    <td>@Model.Description</td>
                </tr>

                <tr>
                    <th>Created At</th>
                    <td>@Model.CreatedAt</td>
                </tr>

                <tr>
                    <th>Updated At</th>
                    <td>@Model.UpdatedAt</td>
                </tr>

            </table>

            <a asp-action="Edit"
               asp-route-id="@Model.Id"
               class="btn btn-warning">

                Edit

            </a>

            <a asp-action="Index"
               class="btn btn-secondary">

                Back

            </a>

        </div>

    </div>

</div>